.popup__container {
    margin: 195px 0 auto 0;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 430px;
    height: 330px;
    border-radius: 10px;
}


@media screen and (max-width: 550px) {
    .popup__container {
        margin: 123px 0 auto 0;
        width: 282px;
        min-height: 322px;  
    }
}