.popup__value {
    margin: 0 auto 30px auto;
    padding: 0 0 13px 0;
    min-width: 358px;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

@media screen and (max-width: 550px) {
    .popup__value {
        min-width: 238px;
    }
}