.popup__wrapper {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 430px;
    min-height: 330px;
    border-radius: 10px;
}

@media screen and (max-width: 550px) {
    .popup__wrapper {
        width: 282px;
        min-height: 322px;  
    }
}